#game-title{
    font-family: 'La Belle Aurore', cursive;
    font-size: 4.5vw;
    text-align: center;
}

#game-instructions{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(223, 4, 4);
    border-radius:20px;
    width: 25vw;
    max-height: 30vh;
    background: url('images/k_backdrop1.jpg');
    background-size: cover;

}
#game-instructions #title{
    color: white;
    opacity: 100%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size:3.6vh;
    letter-spacing: 3px;
    z-index:5;
}

#game-body{
    display: flex;
    justify-content: space-evenly;
}

canvas{
    border-radius: 20px;
}