body{
    position: relative;
}

div.hidden{
  display: none;
}
.game-intro h1{
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 3vh 0vh 3vh 0vh;
}

.game-intro h2{
    font-size: 9vw;
    padding: 4vh 0vh 5vh 0vh;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    text-shadow: 0 0 7px #c4c4c4;
}

.game-intro h3{
    font-size: 1.6vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}


.game-intro{
    /* display:block;
    position: absolute;
    background-color: rgb(24, 24, 24);
    height:100vh;
    width:100vw; */
    position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgb(0, 0, 0);
   color:white;
   display: flex;
   align-items: center;
   text-align: left;
   flex-direction: column;
}

#intro-instructions{
    border-top: 1px solid rgba(255, 255, 255, 0.808);
    font-family: 'Montserrat', sans-serif;
    padding-top: 3vh;
    height:30vh;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#intro-obj{
    margin-bottom: 20px;
}
img#heart{
    height:40px;
    width:41px;
    /* background-color: white; */
}
.direction{
    padding:10px;
}

#start-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height:5vh;
    width:10vw;
    background: white;
    border-radius: 10px;
    border:none;
    font-size: 4vh;
    font-family: 'Montserrat', sans-serif;
    padding:3px;
}

#button-span{
    font-weight: 500;
    border: 1px solid white;
    padding: 3px 5px;
    border-radius: 6px;
    background-color: #ffffffcc;
    color: black;
}
#start-button:hover{
    box-shadow: 0 0 8px 2px white;
}


#game-title{
    padding: 3vh 0vh;
    font-family: 'La Belle Aurore', cursive;
    font-size: 8vh;
    text-align: center;
    position: relative;
}

#game-instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(223, 4, 4);
    border-radius:20px;
    width: 23vw;
    height: 35vh;
    background: url('images/backdrop.jpg');
    background-size: cover;
    color: white;

}

#arrowup{
    height:5vh;
    width:auto;
}

#spacebar{
    width:7vw;
    height:5vh;
}


.inst-block{
    width:90%;
    padding: 10px;
    z-index: 3;
    text-align: center;
    background: rgb(43, 41, 41);
    border-radius: 15px;
    color: white;
    font-family: 'Permanent Marker';
    line-height: 1.9;
    font-size: medium;
}


#game-instructions #title{
    color: white;
    opacity: 100%;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size:3.6vh;
    letter-spacing: 3px;
    text-decoration: underline;
}

#game-body{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

canvas{
    border-radius: 20px;
}


#score-card{
    position: absolute;
    padding:1vh 5vw;
    left: 1vw;
    z-index: 4;
    text-align: left;
    font-family: 'Permanent Marker', cursive;
    font-size: 4.5vh;
}
#canvas-container{
    position: relative;
}

#game-over{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: 1000;
    border-radius: 20px;
    color: #ffd24d;
    font-family: 'Permanent Marker';
    font-size: 5vw;
    text-align: center;
}

#restart-button, #play-again-button{
    left:200px;
    height:6vh;
    width:12vw;
    background: white;
    border-radius: 10px;
    border:none;
    font-size: 4vh;
    font-family: 'Montserrat', sans-serif;
}

#restart-button:hover{
    box-shadow: 0 0 8px 2px white;
}
#play-again-button:hover{
    box-shadow: 0 0 8px 2px white;
}


#final-container{
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Permanent Marker';
    font-size: 5vw;
    left: 200px;
    top:160px;
}
#about-links{
    position: fixed;
    bottom: 4px;
    right:2px;
    text-align: end;
    width:100%;
    font-family: 'Montserrat', sans-serif;
}
#about-links img{
    height:25px;
    width:auto;
    
}

